
<div class="container" style="background-color: #B0C4DE; margin: 25px 300px 25px 300px; ">

    <div>
        <h3 align="center">Formulario</h3>
    </div>

    <div class="ui-g">
            
        <div class="ui-g-6">
            <label for="">Nome</label>
            <input id="nome-input" type="text" size="30" pInputText placeholder="Nome" [(ngModel)]="nome"> 
        </div> 
                    
        <div class="ui-g-6">
            <label for="">E-mail</label>
            <input id="email-input" type="text" size="30" pInputText placeholder="E-mail" [(ngModel)]="email"> 
        </div> 
            
        <div class="ui-g-6 margin-10">
            <label for="">Cep</label>
            <p-inputMask [(ngModel)]="cep" mask="99999-999" size="32"></p-inputMask>
        </div>
            
        <div class="ui-g-6">
            <label for="">Endereço</label>
            <input id="endereco-input" type="text" size="27" pInputText placeholder="Endereço" [(ngModel)]="endereco"> 
        </div>
            
        <div class="ui-g-6">
            <label for="">Numero</label>
            <input type="text" pInputText pKeyFilter="int" placeholder="Numero" size="28" [(ngModel)]="numero">
        </div>
            
        <div class="ui-g-6">
            <label for="">Bairro</label>
            <input id="bairro-input" type="text" size="30" pInputText placeholder="Bairro" [(ngModel)]="bairro"> 
        </div>
                        
        <div class="ui-g-6">
            <label for="">Cidade</label>
            <input id="cidade-input" type="text" size="29" pInputText placeholder="Cidade" [(ngModel)]="cidade"> 
        </div>   
            
        <div class="ui-g-6">
            <label for="">Data Nascimento</label>
            <p-inputMask mask="99/99/9999" [(ngModel)]="data" placeholder="99/99/9999" slotChar="mm/dd/yyyy"></p-inputMask>
        </div>
            
        <div class="ui-g-6">
            <label for="">Sexo</label>
            <p-radioButton name="groupname" value="Feminino" label="Feminino" [(ngModel)]="selectedSexo"></p-radioButton>
            <p-radioButton name="groupname" value="Masculino" label="Masculino" [(ngModel)]="selectedSexo"></p-radioButton>
        </div> 

        <div class="ui-g-6">
            <label for="">Estado</label>
            <p-dropdown [options]="estado" [(ngModel)]="selectedEstado" optionLabel="name"></p-dropdown>
        </div> 
              
    </div>
</div>

<div align="center">
    <button pButton type="button"  label="Confirmar" class="ui-button-sucess"
        (click) ="Cadastrado()"
    ></button>
    <button pButton type="button"  label="Cancelar"  class="ui-button-danger"></button>
</div>






